<!-- DNSSEC OPTIONS -->
<fieldset id="options">
	<legend>DNSSEC options  (<strong><a class="toggle">{% if show_dnssec_options or options_form.errors %}hide{% else %}show{% endif %}</a></strong>)</legend>
	<form action="" method="get">
	{% if options_form.errors %}
		<p class="form-error">
		There were errors processing the DNSSEC options.  Please correct below and re-submit.
		</p> 
	{% endif %}

	<ol id="options-list">
		{% for field in options_form %}
		<li>
			<a class="form-tooltip" title="{{ field.help_text }}">|?|</a>
			{{ field.label_tag }}
			{{ field }}
			{% if field.errors %}
				<ul class="formfield-error-list">
				{% for err in field.errors %}
					<li>{{ err }}	
				{% endfor %}
				</ul> 
			{% endif %}
		</li>
		{% endfor %}
	</ol>
	<div class="form-controls">
		<ul>
			<li><input type="submit" class="button" name="reset_query" value="Reset to defaults" /></li>
			<li><input type="submit" class="button" value="Update options" /></li>
		</ul>
	</div>
	</form>
</fieldset>
