include COPYRIGHT LICENSE
include dnsviz/config.py.in
include doc/COPYRIGHT
include doc/Makefile
include doc/src/*dot
include doc/src/*svg
include contrib/m2crypto.patch contrib/digviz
recursive-exclude external *
