<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>DNS Response for {{ qname }}/{{ rdtype }}</title>
		<link rel="stylesheet" type="text/css" href="{% firstof STATIC_URL "/static/" %}css/dns_response.css" media="all" />
	</head>
	<body>
		<div id="container">
			<h2>DNS Response for {{ qname }}/{{ rdtype }}</h2>
			<div id="last-updated">
Received: <strong>{{ response_obj.time|date }} UTC</strong> (<abbr class="timeago" title="{{ response_obj.time|date:"c" }}">{{ response_obj.updated_ago_str }} ago</abbr>) from <strong>{{ response_obj.server }}</strong>
			</div>
			<div class="dns-response">
			{{ dns_msg|safe }}
			</div>
		</div>
	</body>
</html>
