.ui-tooltip {
	max-width: none;
}
.ui-tooltip-content {
	font-size: 10pt;
	padding: 0pt;
	margin: -8px;
}
.ui-tooltip-content ul { list-style:none; margin: 0; padding: 0; }
.ui-tooltip-content ul li { margin: 0; padding: 0; }

.dnsviz-secure { background-color: #8ffeff; }
.dnsviz-insecure { background-color: #b7b7b7; }
.dnsviz-bogus { background-color: #f17b7b; }
.dnsviz-non-existent { background-color: #d0d0d0; }
.dnsviz-incomplete { background-color: #fffa8f; }
.dnsviz-lame { background-color: #fffa8f; }

.dnsviz-valid { background-color: #8ffeff; }
.dnsviz-indeterminate { background-color: #b7b7b7; }
.dnsviz-indeterminate-no-dnskey { background-color: #b7b7b7; }
.dnsviz-indeterminate-unknown-algorithm { background-color: #b7b7b7; }
.dnsviz-algorithm-ignored { background-color: #b7b7b7; }
.dnsviz-expired { background-color: #ad7fed; }
.dnsviz-premature { background-color: #ad7fed; }
.dnsviz-invalid-sig { background-color: #f17b7b; }
.dnsviz-invalid-digest { background-color: #f17b7b; }
.dnsviz-invalid-target { background-color: #f17b7b; }
.dnsviz-invalid { background-color: #f17b7b; }
.dnsviz-error { background-color: #f17b7b; }
.dnsviz-warning { background-color: #fffa8f; }
.dnsviz-match-pre-revoke { background-color: #fffa8f; }
