{% extends "domain_page.html" %}

{% block page_content %}
	{% if name_obj.nxdomain %}
	<p>
		Our analysis returned an NXDOMAIN response for <span class="domain">{{ name_obj }}</span>, indicating that the name does not exist.  At this time we are unable to graph denial of existence for NXDOMAIN responses, but we do hope to add this to a future revision.
	</p>
	{% else %}
	<p>
		We were unable to properly resolve <span class="domain">{{ name_obj }}</span> due to outage or misconfiguration of servers on which <span class="domain">{{ name_obj }}</span> is dependent.   Therefore, we cannot complete the analysis.
	</p>
	{% endif %}
	<p>
	If you think this analysis is incorrect, please <a href="/contact/">contact us</a>, or try the analysis again.  Otherwise, please {% if name_obj.parent %}<a href="{{ name_obj.parent.base_url_with_timestamp }}">click here to view <span class="domain">{{ name_obj.parent }}</span></a> or {% endif %}<a href="/search/">search</a> for another domain name.  In the future, we intend to make this tool more useful for determining the cause of general resolution problems.
	</p>

{% endblock %}
